<table class="favoris-table" *ngIf="favoris.length > 0; else vide">
  <thead>
    <tr>
      <th>Image</th>
      <th>Nom</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produit of favoris">
      <td data-label="Image" (click)="Details(produit)" style="cursor:pointer;">
        <img [src]="produit.selectedImage || produit.image" [alt]="produit.nom" class="table-product-img" />
      </td>
      <td data-label="Nom" (click)="Details(produit)" style="cursor:pointer;">
        {{ produit.nom }}
      </td>
      <td data-label="Prix">
        {{ produit.prixPromotion > 0 ? produit.prixPromotion : produit.prix }} MAD
      </td>
      <td data-label="Quantité">
        <button (click)="decrementQuantite(produit.id)" class="qty-btn">−</button>
        <span class="qty-value">{{ quantites[produit.id] }}</span>
        <button (click)="incrementQuantite(produit.id)" class="qty-btn">+</button>
      </td>
      <td data-label="Actions">
        <fa-icon
  [icon]="faCartShopping"
  class="icon-action"
  (click)="ajouterAuPanier(produit)"
  title="Ajouter au panier"
  [class.disabled]="!produit.enStock"
  [style.pointer-events]="!produit.enStock ? 'none' : 'auto'"
  [style.opacity]="!produit.enStock ? '0.4' : '1'"
></fa-icon>

<fa-icon
  [icon]="faHeart"
  class="icon-action favori"
  (click)="toggleFavori(produit)"
  title="Retirer des favoris"
  [style.pointer-events]="!produit.enStock ? 'none' : 'auto'"
  [style.opacity]="!produit.enStock ? '0.4' : '1'"
></fa-icon>

      </td>
    </tr>
  </tbody>
</table>

<div class="btn-container" *ngIf="favoris.length > 0">
  <button class="btn-clear" (click)="viderFavoris()">Vider la liste</button>
</div>

<ng-template #vide>
  <p style="text-align: center; margin-top: 300px;">Aucun produit dans vos favoris.</p>
</ng-template>
