/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .page-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* hauteur minimale écran */
}


/* espace entre contenu fixe et footer */
.main {
  margin-bottom: 40px; /* peut être réduit si tu veux */
}
/* Empêcher le scroll horizontal global */
html, body {
  overflow-x: hidden;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}

